.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Viewport Height: Ocupa 100% da altura da tela */
  max-width: 600px; /* Limita a largura para parecer um app mobile no desktop */
  margin: 0 auto; /* Centraliza na tela */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header {
  background-color: #075e54; /* Verde escuro */
  color: white;
  padding: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}