### IntelliJ IDEA ###
.idea/
*.iml
*.iws
out/
*.ipr

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### Java ###
*.class
*.jar
*.war
*.ear

### Spring Boot ###
*.log
!src/main/resources/
!src/test/resources/

### Environment / Config ###
.env
*.yml
*.yaml
application-*.properties
application-*.yml

### OS / WSL / Linux ###
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
__MACOSX/
*.swp
*.swo
*~
.nfs*

### Windows
desktop.ini
$RECYCLE.BIN/

### Logs ###
*.log
logs/

### Docker ###
/mysql_data/
/redis_data/
/postgres_data/
